@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 600;
  text-align: center;
}
